/*  Basic Styling
------------------------------------------------------- */
* { box-sizing: border-box; }
body {
  margin: 0;
}

::selection {
  background-color: #d55349;
  color: white;
}

html {
	font-family: 'Rubik', Helvetica, sans-serif;
	background: #e9e9e9;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Proza+Libre:wght@400;500;700&family=Inconsolata:wght@400;700&display=swap');


h1, h2, h3 {
  font-family: 'Inconsolata', 'Courier', '-apple-sytem', monospace;
  font-weight: 400;
  margin-block-end: 0.3em;
}

h4 {
  font-family: 'Inconsolata', 'Courier', '-apple-sytem', monospace;
  font-weight: 400;
  margin-block-end: 0.05em;
}

@media (min-width: 750px) {
  body {
    font-size: 1.563em;
  }
}


body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: #e9e9e9;
  font: 16px/1.625 'Rubik', sans-serif;
  font-size: calc(20px + (20 - 14) * (100vw - 320px) / (750 - 320));
}


@media (min-width: 750px) {
  body {
    font-size: 1.563em;
  }
}


header {
	margin: 4rem;
}
h1 {
	text-transform: uppercase;
	font-size: 4rem;
	border: 8px solid var(--main-lab-color);
	text-align: center;
  z-index: 99;
}

:root {
  --main-lab-color: #D5D5D5;
  --main-link-color: #333;
}

.wrapper-labs {
  font: 400 16px/1.625 'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: calc(20px + (20 - 14) * (100vw - 320px) / (750 - 320));
  max-width: 90vw;
  min-width: 70vw;
  padding: 20px;
  margin: 0 auto;
}

.wrapper-labs a {
    text-decoration: none;
    text-transform: none !important;
    font-weight: 400 !important;
    color: #333;
    box-shadow: inset 0 -2px 0 rgba(213,83,73,1);
    transition: ease-in .05s border-bottom;
}

.wrapper-labs a:hover {
    box-shadow: inset 0 -30px 0 rgba(213,83,73,0.4);

}

@media (min-width: 1000px) {
  .wrapper-labs {
  max-width: 80vw;
  }
}

@media (max-width: 600px) {
  nav {
  display: none;
  }
  .headerlogo {
    display: none;
  }
}

  /* styling the list of posts */
  .postlist {
    background-color: #e9e9e9;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c6c6c6' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  }

  .postlist ul {
      margin: 0;
      list-style: none;
      padding-left: 0;
  }

  .postlist li {
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
  }

  .postlist li a {
    text-decoration: none;
      color: #333;
      box-shadow: inset 0 -2px 0 rgba(213,83,73,1);
      transition: ease-in .05s border-bottom;
  }

  .postlist li a:hover {
    box-shadow: inset 0 -30px 0 rgba(213,83,73,0.4);
  }

  .postlist time {
    margin-left: 5rem;
    font-style: italic !important;
    font-size: 0.7em !important;
  }

  section {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  }

  /* Footer */

  [role='contentinfo'] .wrapper-labs {
    margin-top: 100px;
    font-size: 0.8em;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  [role='contentinfo'] .deploy {
    max-width: 40%;
  }

  .credits {
    font-size: 1em;
    color: #999897;
  }

  .credits a {
    font-size: 1em !important;
  }

  blockquote {
  border-left: 6px solid var(--main-lab-color);
      padding-left: 15px;
      margin-left: 10px;
      font-style: normal;
  }

  .bodynavlinks {
    padding: 0 !important;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 2em;
  }

  .bodynavlinks a {
    font-size: 0.6em;
    color: #999897;
    margin-right: 2em;
  }



/*  KOJ labs homepage version E
------------------------------------------------------- */


.E header {
	margin: 3rem;
	display: grid;
	grid-template-columns: 0 max-content 5rem auto;
	grid-template-rows: 1.5rem 50px min-content auto auto;
	gap: 0 1rem;
}
.E h1 {
	grid-column: 1 / 3;
	grid-row: 1 / 5;
	border: none;
	margin: 0;
	font-size: 2.5rem;
}
.E nav {
	writing-mode: vertical-rl;
	grid-column: 3 / 5;
	grid-row: 3;
	background: var(--main-lab-color);
  padding: 1rem;
  z-index: 999;
}
.E .red-box {
	border: 6px solid var(--main-lab-color);
	grid-row: 2 / 5;
	grid-column: 2 / 4;
	z-index: 1;
}
.E ul {
	padding: 1rem;
}
.E li {
	list-style: none;
  padding: 1rem;
}

.E .lab-links {
	color: var(--main-link-color);
  letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 800;
  box-shadow: inset 3px 0 0 rgba(51,51,51,1);
  transition: ease-in .05s border-bottom;
}


.E .lab-links a:hover {
    box-shadow: inset 30px 0 0 rgba(51,51,51,0.4);

}

.E img {
	mix-blend-mode: overlay;
	grid-column: 3 / 5;
	grid-row: 3 / 6;
}

/* Inner Grid — same as demo C */

.E h1 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}
.E h1 span:nth-child(1) { /* K */
	grid-column: 2;
	grid-row: 1;
}
.E h1 span:nth-child(2) { /* U */
	grid-column: 3;
	grid-row: 1;
}
.E h1 span:nth-child(3) { /* R */
	grid-column: 6;
	grid-row: 1;
}
.E h1 span:nth-child(4) { /* T */
	grid-column: 3;
	grid-row: 2;
}
.E h1 span:nth-child(5) { /* I */
	grid-column: 4;
	grid-row: 2;
}
.E h1 span:nth-child(6) { /* S */
	grid-column: 5;
	grid-row: 3;
}
.E h1 span:nth-child(7) { /* J */
	grid-column: 1;
	grid-row: 4;
}
.E h1 span:nth-child(8) { /* O */
	grid-column: 2;
	grid-row: 4;
}
.E h1 span:nth-child(9) { /* H */
	grid-column: 4;
	grid-row: 4;
}
.E h1 span:nth-child(10) { /* N */
	grid-column: 5;
	grid-row: 5;
}
.E h1 span:nth-child(11) { /* S */
	grid-column: 3;
	grid-row: 6;
}
.E h1 span:nth-child(12) { /* O */
	grid-column: 5;
	grid-row: 6;
}
.E h1 span:nth-child(13) { /* N */
	grid-column: 8;
	grid-row: 7;
}
